.product img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product {
    width: 300px;
    height: 400px;
    left: 104px;
    top: 200px;
    background: #FFFFFF;
    
    border-image-source: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, #000000, #000000);
    box-shadow: 0px 4px 4px 0px #00000040;
    
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    margin: 7px;
}

.product-price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    margin: 7px;
}



.btn-cart {
width: 100%;
background-color: rgb(196, 219, 208);
border: none;
margin-top: -10px;

height: 48px;
width: 300px;
left: 0px;
top: 461px;


}

.btn-cart:hover {
    background-color: rgb(136, 142, 221);
}